.parent-div {
    width: 92vw;
    height: 65vh;
    left: 4vw;
    top: 25vh;
    position: fixed;
    background: rgb(220, 238, 243);
    /* background: transparent; */
    border-radius: 10px;
}

.background-image {
    position: fixed;
    height: 105vh;
    width: 110vw;
    top: 0vh;
    z-index: -1;
    left: -7vw;
    background: transparent;
    /* background: url('../../images/purple-cloud.png') no-repeat center center / contain; */
}

.user-entry {
    /* width: 18.8%; */
    /* height: 20%; */
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 2vh;
    text-align: center;
    font-family: 'OpenSans-Light';
    background: transparent;
    border-radius: 8px;
    position: absolute;
    /* color: white; */
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}