.parent-div {
    width: 70vw;
    height: 55vh;
    left: 15vw;
    top: 40vh;
    position: fixed;
    /* background: rgba(0,0,0,0.05); */
    background: transparent;
    border-radius: 10px;
}

.background-image {
    position: fixed;
    height: 105vh;
    width: 110vw;
    top: 0vh;
    z-index: -1;
    left: -7vw;
    background: url('../../images/purple-cloud.png') no-repeat center center / contain;
}

.user-entry {
    /* width: 18.8%; */
    /* height: 20%; */
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 2vh;
    text-align: center;
    font-family: 'OpenSans-Light';
    background: transparent;
    border-radius: 8px;
    position: absolute;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}