.title{
    position: fixed;
    font-family: 'Montserrat-Bold';
    font-size: 10vh;
    z-index: 3;
    left: 5vw;
    /* transform: translate(-50%,0); */
}

.button {
    position: fixed;
    top: 55vh;

    /* width: 13vw; */
    /* padding-left: 4vw; */
    /* padding-right: 4vw; */
    height: 5vh;

    font-family: 'Montserrat-Bold';
    font-size: 3vh;

    /* background: black; */
    outline: none;
    border: none;

    color: black;
}

p {
    transition: 0.3s;
}
p:hover {
    color: rgba(29,133,224);
}

.remove-styling-home {
    text-decoration: none;
    text-align: center;
    color: black;
}

.main-background {
    position: fixed;
    width: 110vw;
    height: 110vh;
    top: -1vh;
    left: 57vw;
    transform: translate(-50%,0);
    background: url('../../images/homepage-flipped.png') no-repeat center center / contain;
}

.bottom-bar {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    background: transparent;
}

.bottom-bar:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 5%;
    background-image: linear-gradient(to right, rgba(29,133,224), rgba(29,221,224));
    transition: .3s;
}

.bottom-bar:hover:after {
    width: 100%;
}