@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light'), url('./fonts/OpenSans-Light.ttf') format('truetype');
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.top-border {
    position: fixed;
    width: 100vw;
    height: 1vh;
    top: 0%;
    background-image: linear-gradient(to right, rgba(29,133,224), rgba(29,221,224));
}